<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
    </head>
    <body>
        <div>
            <div>
                <h1>Name:</h1>
                <p>Zachary Betsch</p>
            </div>
            <div>
                <h1>Student ID:</h1>
                <p>M15140524</p>
            </div>
        </div>
        <div>
            <h1>Bio</h1>
            <p>Hello, I am Zachary. I'm currently a Senior in the IT bachelors program.</p>
            <p>I've spent 8 years in the Air Force, and have travelled the world.</p>
        </div>
        <div>
            <h1>Contact Details</h1>
            <h2>E-Mail:</h2>
            <a href="mailto:betschzt@mail.uc.edu">betsch@mail.uc.edu</a>
            <h2>GitHub:</h2>
            <a href="https://github.com/ZBetsch">github.com/ZBetsch</a>
        </div>
    </body>
</html>